body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

#container1 {  
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}

#box1 {
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 1200px;
    position: absolute;
    background: #70a9a1;
}

#box2 {
    top: 80px;
    bottom: 0px;
    left: 720px;
    right: 0px;
    position: absolute;
    background: #cfe0c3;
}

#box3 {
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    background: #cfe0c3;
}


#navigation {
    width: 100%;
    height: 50px;
    background: #0D1821;
    padding-top: 15px;
    padding-bottom: 15px;
}

#homebtn {
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}

#albumsbtn {
    margin-left: 20px;
    margin-right: 20px;
    float: right;
}

#aboutbtn {
    margin-left: 20px;
    margin-right: 5px;
    float: right;
}


#membersbtn {
    margin-left: 20px;
    margin-right: 5px;
    float: right;
}

.navbtn {
    background: #344966;
    color: #fff;
    width: 120px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border: 0px solid #fff;
    border-radius: 10px;
}

.infocontainer {
    margin-left: 75px;
    margin-top: 120px;
    height: 15%;
    width: 75%;
    line-height: 400%;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #fff;
    border-radius: 10px;
    font-size: 35px;
    color: #fff;
    background: #9ec1a3;
}

.memcontainer {
    margin-left: 20px;
    margin-top: 60px;
    height: 15%;
    width: 85%;
    line-height: 400%;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #fff;
    border-radius: 10px;
    font-size: 35px;
    color: #fff;
    background: #9ec1a3;
    position: relative;
    z-index: 1000;
}

.conbox {
    width: 33%;
    vertical-align: middle;
    margin-top: 15%;
    padding-left: 65px;
    padding-right: 50px;
    float: left;
}

.albumcontainer {
    text-align: center;
    float: left;
    height: 256px;
    width: 256px;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    background: #9ec1a3;
    font-size: 35px;
    position: relative;
    z-index: 1000;
    margin-left: 20px;
}

.albumbox {
    margin: auto;
    margin-top: 60px;
    width: 1410px;
    height: 200px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    float: top;
}


.textcontainer {
    text-align: center;
    color: white;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.meminfocon {
    text-align: left;
    color: white;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.mempiccon {
    position: absolute;
    top: 64px;
    right: 64px;
}

.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.year {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
